h1  {
    color:blue;
}
.row{
    border: 1pt solid black;
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell{
    background-color: cyan;
    width:25px;
    height: 40px;
    margin: 2px;
    text-align: center;
}

.cell.hidden {
 
    background-color:dimgrey;
}

.flag.hidden {
    background-color:red;
}
.flag{
    background-color: red
}