h1  {
    color:blue;
}
.row{
    border: 1pt solid black;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell{
    background-color:blue;
    width:20px;
    height: 20px;
    margin: 2px;
}