h1  {
    color:blue;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main {
    margin: 5px;
}
.row{
    border: 1pt solid black;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
}

.cell{
    background-color: cyan;
    margin: 1px;
    text-align: center;
    border: 1pt grey solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.hidden {
 
    background-color:dimgrey;
}

.flag.hidden {
    background-color:red;
}
.flag{
    background-color: red;
}
#reset {
    width: 100px;
    height: 50px;
}